@model PagedList.IPagedList<situationWebBTS.Models.Student>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Etudiants";
}

<h2>Etudiants</h2>

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <p>
        Rechercher un étudiant: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Recherche" />
        
        @Html.ActionLink("Annuler", "Index")
    </p>
}

<p>
    @Html.ActionLink("Ajouter étudiant", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nom", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Prénom", "Index", new { sortOrder = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date d'inscription", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolEnrollmentDate)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Détails", "Details", new { id=item.ID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
